{% load static %}
<!DOCTYPE html>
<html>
<head><title>inmakes
</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
<!-- Image and text -->
<nav class="navbar navbar-dark bg-dark">
  <a class="navbar-brand" href="/">
    <img src="{% static 'download.jpg' %}" width="30" height="30" class="d-inline-block align-top" alt="">
    Online Movie Hub.
  </a>
    <a class="btn-btn-danger" href="add/"  >Add Movies</a>
</nav>
{% block body %}
{% endblock %}
</body>
</html>